---
import AboutSection from "../Layout/AboutSection.astro";
import HomeSection from "../components/HomeSection.jsx";
import Caroussel from "../components/Carroussel.astro";
---

<main>
  <HomeSection client:load />
  <AboutSection />

  <section class="bg-black p-5">
    <Caroussel
      title="Mes derniers projets"
      href="/projects"
      contentType="projets"
    />
    <Caroussel
      title="Mes dernieres videos"
      href="/videos"
      contentType="videos"
    />
    <Caroussel
      title="Mes dernieres photos"
      href="/pictures"
      contentType="photos"
    />
  </section>
</main>
