---
import AboutSection from "../Layout/AboutSection.astro";
import HomeSection from "../components/HomeSection.astro";
import Caroussel from "../components/Carroussel.astro";
import LenisWrapper from "../components/JSX/LenisWrapper.jsx";



---
<LenisWrapper>
<main>
  <HomeSection/>
  <AboutSection />

  <section class="bg-black p-5">
    <Caroussel
      title="Mes derniers projets"
      href="/projets"
      contentType="projets"
    />
    <Caroussel
      title="Mes dernières videos"
      href="/videos"
      contentType="videos"
    />
    <Caroussel
      title="Mes dernières photos"
      href="/photos"
      contentType="photos"
    />
  </section>
</main>
</LenisWrapper>
