---
import NavBar from "../components/JSX/NavBar.jsx";
import Home from "./home.astro";
import Layout from "../Layout/Head.astro";
---

<html>
  <Layout title="PORTFOLIO" />
  <body>
    <header>
      <NavBar client:load />
    </header>
    <Home />
  </body>
</html>
