---
import ExperienceItem from "./JSX/ExperienceItem.jsx";

const experiences = [
  {
    title: "Stage UX/UI et front developpeur",
    description:
      "Front : HTML CSS JS (création d’un site de bande-annonce de film dans un projet universitaire)",
  },
  {
    title: "Photographe et vidéaste en Freelance",
    description:
      "Captation vidéo, Shooting photos, Création de contenu digital. J'ai pu travailler avec des restaurateurs, une agence de communication, et des particuliers. JUILLET 2023 - AUJOURD’HUI",
  },
  {
    title: "Photographe et vidéaste Bénévole",
    description:
      "LH (Limoges handball), groupe BATUCADONF, RCV (Rugby Club Verneuillais)",
  },
];
---

<h2 class="text-5xl text-light-cream font-black font-truculenta">Expériences</h2>
<ul class="bg-light-cream p-8 w-full max-w-6xl">
  {
    experiences.map((exp, index) => (
      <ExperienceItem
        client:load
        key={index}
        title={exp.title}
        description={exp.description}
      />
    ))
  }
</ul>
