---
export interface Props {
    types: Array<{ name: string }>;
}

const { types } = Astro.props;
---
<div class="flex flex-row flex-wrap gap-4 justify-center">
    <button
            data-type="all"
            class="filter-button text-white bg-red text-sm font-medium px-4 py-2 rounded-lg font-truculenta"
    >
        Tous
    </button>
    {types.map((type) => (
            <button
                    data-type={type.name}
                    class="filter-button text-white bg-red text-sm font-medium px-4 py-2 rounded-lg font-truculenta"
            >
                {type.name}
            </button>
    ))}
</div>
